* {
    margin: 0;
    padding: 0;
}

.card {
    width: 350px;
    background-color: #efefef;
    border: none;
    cursor: pointer;
    transition: all 0.5s;
    box-shadow: none; /* Added to remove box shadow if present */
}

.card:hover {
    transform: scale(1.02);
}

.image img {
    border: 0; /* Added to remove any border around the image */
    transition: all 0.5s;
}

.card:hover .image img {
    transform: scale(1.5);
}

.btn1 {
    height: 40px;
    width: 150px;
    border: none;
    background-color: #000;
    color: #aeaeae;
    font-size: 15px;
}

.rounded-circle {
    border-radius: 50%;
}
